.music-icon {
  width: 25px;
  height: 21px;
  position: absolute;
  top: 2px;
  left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 16px;
    color: #efcc19;
  }
  &.off {
    opacity: 0.35;
  }
}