.music-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    .icon {
        font-size: 18px;
        color: #efcc19;
        font-weight: bold;
    }
    &.on {
        background: #0ec400;
    }
    &.off {
        background: #555;
        opacity: 0.6;
    }
}