.decorate {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #000;
    z-index: 2;
    text-align: center;
  }
  .topBorder {
    position: absolute;
    height: 10px;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 3;
    span {
      display: block;
      width: 10px;
      height: 10px;
      overflow: hidden;
      background: #000;
      &.mr { margin-right: 10px; }
      &.ml { margin-left: 10px; }
    }
  }
  .snake-deco {
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    svg {
      width: 100%;
      height: 100%;
    }
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
}