.number {
    height: 24px;
    font-size: 14px;
    float: right;
    span {
        float: left;
        width: 14px;
        height: 24px;
        text-align: center;
        font-family: "Courier New", monospace;
        font-weight: bold;
        color: #efcc19;
        line-height: 24px;
        &.d_n {
            width: 0;
            overflow: hidden;
        }
        &.d_d, &.d_d_c {
            width: 8px;
            color: #987f0f;
        }
    }
}