.number {
    display: inline-flex;
    align-items: center;
    font-family: "Courier New", monospace;
    font-weight: bold;
    color: #efcc19;
    background: #494536;
    padding: 4px 6px;
    border-radius: 4px;
    line-height: 1;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    span {
        display: inline-block;
        min-width: 14px;
        text-align: center;
        font-size: 18px;
        &.d_n {
            min-width: 0;
            width: 8px;
        }
        &.d_d, &.d_d_c {
            opacity: 0.5;
            font-size: 14px;
            min-width: 8px;
        }
    }
}