.matrix {
    border: 2px solid #000;
    padding: 3px 1px 1px 3px;
    width: 268px;
    p {
        width: 262px;
        height: 13px;
    }
    b {
        width: 11px !important;
        height: 11px !important;
        padding: 1px !important;
        border-width: 1px !important;
        margin: 0 1px 1px 0 !important;
        &:after {
            width: 7px !important;
            height: 7px !important;
        }
    }
}