.matrix {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #494536;
    padding: 4px;
    border-radius: 6px;
    canvas {
        display: block;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }
}